src/main/resources/wsdl/currency.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://endpoint.currencyserv.example.com/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
                  name="CurrencyEndpointService"
                  targetNamespace="http://endpoint.currencyserv.example.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://endpoint.currencyserv.example.com/"
                   elementFormDefault="unqualified" targetNamespace="http://endpoint.currencyserv.example.com/" version="1.0">
            <xs:element name="getCurrencyRate" type="tns:getCurrencyRate"/>
            <xs:element name="getCurrencyRateResponse" type="tns:getCurrencyRateResponse"/>
            <xs:complexType name="getCurrencyRate">
                <xs:sequence>
                    <xs:element minOccurs="0" name="code" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getCurrencyRateResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="return" type="tns:pair"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="pair">
                <xs:sequence>
                    <xs:element name="currencyCodeA" type="tns:currencyCode"/>
                    <xs:element name="currencyCodeB" type="tns:currencyCode"/>
                    <xs:element name="date" type="tns:localDate"/>
                    <xs:element name="rateBuy" type="xs:double"/>
                    <xs:element name="rateCross" type="xs:double"/>
                    <xs:element name="rateSell" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType final="extension restriction" name="localDate">
                <xs:sequence/>
            </xs:complexType>
            <xs:simpleType name="currencyCode">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="UAH"/>
                    <xs:enumeration value="USD"/>
                    <xs:enumeration value="EUR"/>
                    <xs:enumeration value="GBP"/>
                    <xs:enumeration value="JPY"/>
                    <xs:enumeration value="CHF"/>
                    <xs:enumeration value="CNY"/>
                    <xs:enumeration value="RUB"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getCurrencyRate">
        <wsdl:part element="tns:getCurrencyRate" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCurrencyRateResponse">
        <wsdl:part element="tns:getCurrencyRateResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="CurrencyEndpoint">
        <wsdl:operation name="getCurrencyRate">
            <wsdl:input message="tns:getCurrencyRate" name="getCurrencyRate"/>
            <wsdl:output message="tns:getCurrencyRateResponse" name="getCurrencyRateResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CurrencyEndpointServiceSoapBinding" type="tns:CurrencyEndpoint">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCurrencyRate">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getCurrencyRate">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCurrencyRateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CurrencyEndpointService">
        <wsdl:port binding="tns:CurrencyEndpointServiceSoapBinding" name="CurrencyEndpointPort">
            <soap:address location="http://localhost:8080/currency/currency"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>